<h2>{{title}}</h2>
<form [formGroup]="clubViewForm">
  <div class="club-view-configuration" [hidden]="!configuringClubView">
    <div class="form-group">
      <label>Badge type</label>
      <select formControlName="badgeType">
        <option value="NONE">None</option>
        <option value="RANKED">Rank</option>
        <option value="PERCENTAGE">Percentage</option>
      </select>
    </div>
    <div class="form-group">
      <label>Results view type</label>
      <select (change)="setResultsView($event.target.value)" [value]="''">
        <option *ngIf="!hasResultsView()" value="">Select a results view</option>
        <option value="singleClub">Single club</option>
        <option value="mergeClub">Merge clubs</option>
        <option value="partitionClub">Partition clubs</option>
      </select>

      <button class="secondary" *ngIf="hasResultsView()" (click)="configureResults()">Configure</button>
    </div>
    <div class="form-group">
      <label>Points system</label>
      <select (change)="setPointsView($event.target.value)" [value]="''">
        <option *ngIf="!hasPointsView()" value="">Select a points system</option>
        <option value="defaultPoints">Default racenet points</option>
        <option value="fixedPoints">Fixed points</option>
      </select>
      <button class="secondary" *ngIf="pointsViewType == 'fixed'" (click)="configurePoints()">Configure</button>

    </div>
  </div>
  <div class="results-view-configuration" [hidden]="!configuringResults">
    <ng-container *ngIf="resultViewForm">
      <ng-container *ngIf="resultsViewType == 'singleClub'">
        <app-single-club-view-form [formGroup]="resultViewForm"></app-single-club-view-form>
      </ng-container>
      <ng-container *ngIf="resultsViewType == 'mergeClub'">
        <app-merge-club-view-form [formGroup]="resultViewForm"></app-merge-club-view-form>
      </ng-container>
      <ng-container *ngIf="resultsViewType == 'partitionClub'">
        <app-partition-club-view-form [formGroup]="resultViewForm"></app-partition-club-view-form>
      </ng-container>

      <button (click)="configureClubView()">Back to club configuration</button>
    </ng-container>
  </div>
  <div class="points-view-configuration" [hidden]="!configuringPoints">

    <ng-container *ngIf="pointsViewForm">
      <ng-container *ngIf="pointsViewType === 'fixed'">
        <app-fixed-points-form [formGroup]="fixedPointsForm"></app-fixed-points-form>
        <button class="secondary" (click)="configureClubView()">Back to club configuration</button>
      </ng-container>

    </ng-container>
  </div>

</form>
