<form [formGroup]="clubViewForm">
  <div class="club-view-configuration">
    <div class="configure-results" *ngIf="configuringResults">

    <div class="form-group">
      <label>Badge type</label>
      <select [formControl]="clubViewForm.badgeType">
        <option value="NONE">None</option>
        <option value="RANKED">Rank</option>
        <option value="PERCENTAGE">Percentage</option>
      </select>
    </div>
      <div class="results-view">
        <div class="results-view-configuration" *ngIf="!isResultsViewDisabled()">
          <ng-container *ngIf="clubViewForm.resultsViewType?.value == 'singleClub'">
            <app-single-club-view-form [formGroup]="clubViewForm.singleClubView"></app-single-club-view-form>
          </ng-container>
          <ng-container *ngIf="clubViewForm.resultsViewType?.value == 'partitionClub'">
            <app-partition-club-view-form [formGroup]="clubViewForm.partitionClubView"></app-partition-club-view-form>
          </ng-container>
          <ng-container *ngIf="clubViewForm.resultsViewType?.value == 'concatenationClub'">
            <app-concatenation-view-form [formGroup]="clubViewForm.concatenationView"></app-concatenation-view-form>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="configure-points" *ngIf="configuringPoints">
      <div class="points-view-configuration" [hidden]="isPointsViewDisabled()">
        <ng-container *ngIf="clubViewForm.pointsView">
          <ng-container *ngIf="clubViewForm.pointsViewType?.value === 'fixedPoints'">
            <app-fixed-points-form [formGroup]="clubViewForm.fixedPointsView"></app-fixed-points-form>
          </ng-container>
        </ng-container>
      </div>
  </div>
  </div>

</form>
