.button-group {
display: flex;
  justify-content: space-between;
}

.results-view {
  border-radius:  4px;


  .form-group {

  }

  .results-view-configuration {
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
}
