.g-button {
  border-style: none;
  padding: 15px;

  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);

  &:hover {
    cursor:pointer;


    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  }
}

.g-active {
  background-color: #5d9573;
  color: white;
  font-weight: 800;
}

.g-button-primary, .g-button-secondary,.g-button-tertiary, .g-button-danger {
  box-shadow: #1b3719;

  border-radius:5px;
  color: white;
  font-weight: 800;
}

.g-button-primary {
  background-color: #65b7b9;
}

.g-button-secondary {
  background-color: #5d9573;
}

.g-button-danger {
  background-color: #b81431;
}

.g-button-tertiary {
  background-color: #ffa100;
}
