.form-group {
  & inline {
    label {
      display: inline-block;
    }
  }
  label {
    font-weight: 800;
    font-size: 0.8em;
    display:block;
    color: #767575;
  }

  margin-bottom: 5px;

}

input,select {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

select {
  background-color: white;
  padding-right: 15px;
}

