<div class="field-mapping-edit" [formGroup]="form">
  <div class="input-group"><label>Name</label>
  <input type="text" formControlName="name" placeholder="Name">
  </div>
  <div class="input-group">
    <label>Value</label>
    <input type="text" formControlName="value" placeholder="Value">
  </div>
  <div class="input-group">
    <label>Type</label>
    <select formControlName="fieldMappingType">
      <option [ngValue]="'EMOTE'">Emote</option>
      <option [ngValue]="'HUMAN_READABLE'">Human readable</option>
      <option [ngValue]="'IMAGE'">Image</option>
      <option [ngValue]="'COLOUR'">Colour</option>
    </select>
  </div>
  <button class="save" (click)="saveMapping()">Save</button>
</div>
