<div class="preview-container">
<div *ngIf="results">
  <h2>Results</h2>

  <div *ngFor="let multiList of results.multiListResults">

    {{multiList.name}}
{{multiList.activityInfoTo[0].eventName}}
    {{multiList.activityInfoTo[0].country}}
    <div *ngFor="let result of multiList.results">
      {{result.relative.activityRank}} - {{result.result.racenet}} - {{result.result.activityTotalTime}} - ({{result.relative.activityTotalDiff}}) ({{result.result.vehicles[0].vehicleName}} - {{isValidVehicle(result.result.vehicles)}})
    </div>

  </div>

</div>

<div *ngIf="points">
  <h2>Standings</h2>

  <div *ngFor="let pointsList of points.points">
    {{pointsList.name}}
    <div *ngFor="let result of pointsList.points">
      {{result.name}} - {{result.nationality}} - {{result.points}}
    </div>

  </div>

</div>
</div>
