<div class="pure-g">
  <div class="buttons pure-u-1-12">
  <button class="menu-button" routerLinkActive="menu-button-active" routerLink="discord">Discord integration</button>
  <button class="menu-button" routerLinkActive="menu-button-active" hasPermission="admin" [routerLink]="['field_mappings']">Field Mappings</button>
  <button class="menu-button" routerLinkActive="menu-button-active" hasPermission="admin" [routerLink]="['users']">Users</button>
  <button class="menu-button" routerLinkActive="menu-button-active" hasPermission="admin" [routerLink]="['management']">Management</button>
  </div>
<div class="private-container pure-u-7-8">
  <router-outlet></router-outlet>
</div>
</div>
