<div class="links">
  <button mat-stroked-button [routerLink]="['discord']">Discord integration</button>
  <button mat-stroked-button hasPermission="admin" [routerLink]="['field_mappings']">Field Mappings</button>
  <button mat-stroked-button hasPermission="admin" [routerLink]="['users']">Users</button>
  <button mat-stroked-button [routerLink]="['club_merge']">Club Merge</button>
  <button mat-stroked-button [routerLink]="['tiers/380718']">Tiers (GRF Special)</button>
</div>
<router-outlet></router-outlet>
