

<div class="pure-g">
  <div class="buttons pure-u-1">
    <button class="menu-button dark" routerLinkActive="menu-button-active" routerLink="">Fourleft.io</button>
    <button class="menu-button dark" routerLinkActive="menu-button-active" routerLink="/home">Home</button>
    <button class="menu-button dark" routerLinkActive="menu-button-active" routerLink="/private">Manage</button>
  </div>
  <div class="buttons pure-u-1">
    <button class="menu-button" routerLinkActive="menu-button-active" hasPermission="admin" [routerLink]="['management']">Management</button>
  </div>
  <div class="wrapper" *ngIf="authenticationService.loggedIn | async">
    <div class=" main" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
