<div class="public-container">
  <div class="pure-g">
    <div class="buttons pure-u-1">
      <button class="menu-button dark" routerLinkActive="menu-button-active" routerLink="home">Home</button>
      <button class="menu-button dark" routerLinkActive="menu-button-active" routerLink="results">Results</button>
      <button class="menu-button dark" routerLinkActive="menu-button-active" routerLink="community">Community</button>
      <button class="menu-button dark" routerLinkActive="menu-button-active" routerLink="private">Discord</button>
    </div>
    <div class="pure-u-1 main">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
