<div class="public-container">
  <div class="pure-g section-about">
    <div class="pure-1-1">
      <h1><strong>Fourleft</strong></h1>
      <p>
        Fourleft is a Dirt Rally 2.0 project, offering a discord bot that:
      </p>
      <ul>
        <li>Notifies channels when a new time is set for a club</li>
        <li>Offers commands to show the results or standings for a club</li>
        <li>Adds an extra layer to clubs via configuration, so clubs can be merged, filtered, divided into tiers</li>
        <li>Add powerstages to results</li>
        <li>Rank badges</li>
        <li>Posts the daily/weekly/monthly community results, for those who opted in to do so</li>
      </ul>

      <p>
        Contact <a href="http://discordapp.com/users/234748363453628416">@Busata#9432</a> on Discord for more
        information.
      </p>
      <h3><strong>Examples</strong></h3>
      <div class="images-container">
        <div>
          <img class="g-image-h-400 pure-img" src="/assets/examples.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <a href="https://www.buymeacoffee.com/busata"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=busata&button_colour=5F7FFF&font_colour=ffffff&font_family=Poppins&outline_colour=000000&coffee_colour=FFDD00" /></a>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-1">
      <app-user-community-progress></app-user-community-progress>
    </div>
  </div>
</div>
