.user-community-progress {
 & >mat-card-title {
   padding: 15px;

 }
}
.url-generate-form {
  display: flex;
  flex-direction: column;

  * {
    margin-bottom: 5px;
  }
}

.progression-image {
  max-width: 100%;
  height: auto;
}

.generated-url {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  padding: 5px;
  text-align: center;

  border: 1px solid black;
  border-radius: 3px;
  color: white;
  background-color: #3e3b3b;

}

.image-result {
  margin-top: 10px;
  min-height: 75px;
  text-align: center;
}
