<div class="player-search">
  <div class="form-group inline">
    <label *ngIf="showLabel">Players</label>
    <input #query [value]="this.searchSubject.getValue()" type="text" [placeholder]="placeholder" (keyup)="queryPlayers($event.target.value)">
    <button class="g-button g-button-secondary" (click)="addPlayer(query.value)">Add</button>
  </div>
  <div>
    <div class="pure-g" *ngFor="let suggestedPlayer of suggestedPlayers">
      <div class="pure-u-1-8">
        {{suggestedPlayer}}
      </div>
      <div class="">
        <button class="g-button g-button-secondary" (click)="addPlayer(suggestedPlayer)">Add</button>
      </div>
    </div>
  </div>
</div>
