<div [formGroup]="partitionElementFormGroup">
  <div class="form-group">
    <label>Name</label>
    <input type="text" formControlName="name">
  </div>
  <div class="form-group">
    <label>Players</label>
    <input #player type="text" placeholder="Racenet name">
    <button (click)="addPlayer(player.value); player.value=''" >Add</button>
  </div>
  <div formArrayName="players">
    <ng-container *ngFor="let playerControl of players.controls; let i=index">
      <div class="form-group">
        <input type="text" [formControlName]="i">
        <button (click)="removePlayer(i)" >Remove</button>
      </div>
    </ng-container>
  </div>
</div>
