<mat-card class="mat-elevation-z1 margin-15">
  <mat-card-title>
   Tier configuration
  </mat-card-title>
  <mat-card-content>
    <ul>
    <li *ngFor="let tier of tiers">
      {{tier.name}}
    </li>
    </ul>
    <div>
      <input name="tierName" placeholder="Name" [(ngModel)]="tierName">
    <button mat-stroked-button (click)="addNewTier()">Add new tier</button>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z1 margin-15">
  <mat-card-title>Player configuration</mat-card-title>
  <mat-card-content>
    <div class="tier-configuration" cdkDropListGroup>
    <app-racenet-names></app-racenet-names>
      <div *ngFor="let tier of tiers">
        <h2>{{tier.name}}</h2>
        <app-tier-configuration [tier]="tier"></app-tier-configuration>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="activeEvent">
  <mat-card class="mat-elevation-z1 margin-15">
    <mat-card-title>
      Active event
    </mat-card-title>
    <mat-card-subtitle>
      <div>{{fieldMapper.getReadableName(activeEvent.country) | async}} • {{activeEvent.vehicleClass}}</div>
    </mat-card-subtitle>
    <mat-card-content class="active-event-info">
      <span *ngFor="let stage of activeEvent.stageNames"> {{stage}} •</span>
    </mat-card-content>
  </mat-card>

  <app-club-event-configuration [eventInfo]="activeEvent" [tiers]="tiers"></app-club-event-configuration>
</ng-container>
