.field-mapping-edit {
  display: flex;
  flex-direction: column;
  width: 25%;

  .input-group {
    label {
      font-weight: 800;
    }
    display: flex;
    flex-direction: column;
  }

  .save {
    margin-top: 10px;
    padding: 5px;
    
  }
}
