.form-group {
  label {
    font-weight: 800;
    font-size: 0.8em;
    display:block;
    color: #767575;
  }
  * {
    margin: 3px;
  }

  margin-bottom: 5px;

}

input,select {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

select {
  background-color: white;
  padding-right: 15px;
}

button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;

  &:hover {
    cursor:pointer;
  }

  &.primary {
    background-color: #538666;
    color: white;
    font-weight: 800;

    &:hover {
      background-color: #5d9573;
    }
  }

  &.secondary {
    background-color: rgba(30, 129, 190, 0.51);
    color: white;
    font-weight: 800;

    &:hover {
      background-color: rgba(60, 136, 185, 0.51);
    }
  }
}
