/* You can add global styles to this file, and also import other style files */
@import "purecss/build/base-min.css";
@import "purecss/build/grids-min.css";
@import "purecss/build/grids-responsive-min.css";

@import "styles/buttons";
@import "styles/forms";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


#footer {
  width: 100%;
  position: fixed;
  text-align: left;
  padding-left: 30px;
  bottom: 0;
  z-index:99;
}

.g-image-h-400 {
  max-height: 450px;
}
