<h2>{{tier.name}}</h2>
<div>
  <ng-container *ngIf="vehicles.length === 0">
    No vehicle restrictions in place
  </ng-container>

  <ul>
    <li *ngFor="let vehicle of vehicles">{{vehicle.displayName}}</li>
  </ul>

</div>
<select [(ngModel)]="selectedVehicle">
  <option *ngFor="let vehicle of eventInfo.vehicles" [ngValue]="vehicle">{{vehicle.displayName}}</option>
</select>
<button mat-stroked-button (click)="addVehicle()">Add vehicle</button>
<button mat-stroked-button (click)="deleteVehicle()">Clear vehicles</button>
